﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET + WEBPACK + REACT JS</h1>
    <p class="lead">Esta aplicación integra .net(core o .net framework) con webpack como gestor de paquetes y react js como framework en el frontend.</p>
</div>
<br/>
<div id="content">

</div>
